.dropdown {
  width: 200px;
  position: relative;

  &__select {
    border-radius: 4px;
    border: 1px solid #b9bbc2;
    padding: 0.75rem;
    background-color: #ffffff;

    &_disabled {
      pointer-events: none;
      background: #b9bbc2d7;
    }
  }

  &__list {
    border-radius: 4px;
    background-color: #ffffff;
    position: absolute;
    border: 1px solid #b9bbc2;
    width: 100%;
    top: 110%;
    left: 0;
    z-index: 5;
    max-height: 200px;
    overflow-y: auto;
  }

  &__listItem {
    padding: 0.75rem;
    background-color: #ffffff;
  }

  &__listItem:not(:last-child) {
    border-bottom: 1px solid #b9bbc2;
  }

  &__listItem:hover {
    background-color: #006ee6;
    color: #ffffff;
  }
}
